{% extends 'base.html'%}
{% block contenido%}
	<script>
	$(function() {
		$( "#datepicker" ).datepicker();
	});
	</script>

	<!-- content -->
					<div id="content">
						<table width="482" height="130" border="1" align="left">                                                         
				            <tr>
 							<td>
                                <label>
                                     <h5>Mis Albumes</h5>
                                </label>    							
                               <br> 
                               {% for album in albumes %}
						      	 <label> 
						       		*-----Nombre: {{ album.first_name }}
						       		Apellido: {{ album.last_name }} <br/>
						       		
						       	 </label>	 
						       {% endfor %}                              
                                  
                                
						    </td>					                                          	                      
						   	<td>
                                <img src="{{STATIC_URL}}img/registro.png" alt="SocialAce" with="400" height="400" aling="left">  
                            </td>
                             
                           </table>
                      </div>
					<!-- ENDS content -->						
{% endblock %}
