{% extends 'base.html'%}
{% block contenido%}
	<script>
	$(function() {
		$( "#datepicker" ).datepicker();
	});
	</script>

	<!-- content -->
					<div id="content">
						<table width="482" height="130" border="1" align="left">                                                         
				            <tr>
 							<td>
                                <label>
                                     <h3>Ver Usuario:</h3>
                                </label> 
                                <br/>
                                <br/>   							
                               <br> 
                               
                               
                               {% for campo in perfil %}
                               
						      	 <label> 
						      	      Identificador:
						      	        <input type="text" required name="q" id="id_usuario" value="{{ campo.fkusuario.id }}"/>
						      	      
						      			<h6>Nombre: {{ campo.fkusuario.first_name }}
						    		<br/>
						    		
						       		Apellido: {{ campo.fkusuario.last_name }}<br/>
						       		Direccion: {{ campo.direccion }}<br/>
						       		Twitter: {{ campo.twitter }}<br/>						       		
						       		Facebook: {{ campo.facebook }}<br/>
						       		Fecha de Nacimiento: {{ campo.fechanacimiento }}</h6>
									<br/>
						       	 </label>	 
						       {% endfor %}  
						       
						      <!--  <form class="form-wrapper-01" id='formulario' method='post' enctype='multipart/form-data' action="">{% 									csrf_token %}
						        {% for campo in formulario %}
                  	 
									   		{{ campo }}
									   	 
									   {% endfor %}	
							   
					               <button class="btn btn-hg btn-primary" type="submit">Aceptar</button> 
						       </form>-->
						    </td>						                                          	                      
						   	<td>
                                <img src="{{STATIC_URL}}img/registro.png" alt="SocialAce" with="400" height="400" aling="left">  
                            </td>
                             
                           </table>
                    
                      </div>
					<!-- ENDS content -->						
					<script> function crearAmigo(){
							var id_amigo = jQuery("#id_usuario").val();

						var fk_amigo = jQuery("#id_fkamigo").val(id_amigo);
						//var url = "/verUsuario/" + nombre + "/";
						//jQuery("#form_busqueda").attr('action', url); onclick="javascript:crearAmigo()
						console.log(jQuery("#id_fkamigo").val());
													alert();
						jQuery("#form_busqueda").submit();
					}</script>
{% endblock %}
